test/tets_flow.json
[{"id":"bc4c7407.b1929","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"567ac0c7.bb8298","type":"function","z":"bc4c7407.b1929","name":"filter bicycle","func":"var payload=msg.payload;\n\nvar best_obj = {};\nbest_obj.probability = 0;\nbest_obj.detection_box = [0.0, 0.0, 0.0, 0.0];\nbest_obj.label = 'none'\n\nvar objs = msg.details.predictions;\nfor (i=0;i<objs.length;i++){\n    if (objs[i].label == 'bicycle' && (objs[i].probability>0.7)){\n        if (objs[i].probability > best_obj.probability){\n            best_obj = objs[i];\n        }\n//        objs[i].label_id = 999;\n\n    }\n    \n}\n\nmsg.topic = 'bicycle_detection';\nmsg.payload = best_obj;\nreturn msg;","outputs":1,"noerr":0,"x":790.3333740234375,"y":188,"wires":[["837afe08.3bc398","379a12a0.496c4e"]]},{"id":"7f477a86.d9b8d4","type":"vtjbot-shine","z":"bc4c7407.b1929","botId":"adacec12.a5d78","mode":"pulse","color":"aqua","duration":"1","name":"pit","x":1026.833251953125,"y":579.3333740234375,"wires":[]},{"id":"c70e367f.1ca238","type":"object-detector","z":"bc4c7407.b1929","service":"279ca546.e2d02a","method":"predict","passthrough":"","annotated_input":true,"predict_body":"","predict_bodyType":"str","predict_threshold":"0.05","predict_thresholdType":"str","name":"bicycle texting detector","x":524,"y":247.5,"wires":[["567ac0c7.bb8298","686922ab.24c0b4","cfc9d844.89c498","873d6dd1.1510b8"]]},{"id":"837afe08.3bc398","type":"debug","z":"bc4c7407.b1929","name":"bicycle detected","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1057,"y":190.5,"wires":[]},{"id":"ad314f7c.7632d8","type":"vtjbot-see","z":"bc4c7407.b1929","botId":"adacec12.a5d78","mode":"takephoto","returnOnPayload":true,"width":960,"height":720,"name":"image","x":265,"y":289,"wires":[["c70e367f.1ca238","d58676be.c7c1e"]]},{"id":"5c299caf.574c0c","type":"fileinject","z":"bc4c7407.b1929","name":"read file","x":157,"y":104.5,"wires":[["c70e367f.1ca238"]]},{"id":"686922ab.24c0b4","type":"function","z":"bc4c7407.b1929","name":"filter person","func":"var payload=msg.payload;\n\nvar best_obj = {};\nbest_obj.probability = 0;\nbest_obj.detection_box = [0.0, 0.0, 0.0, 0.0];\nbest_obj.label = 'none'\n\nvar objs = msg.details.predictions;\nfor (i=0;i<objs.length;i++){\n    if (objs[i].label == 'person' && (objs[i].probability>0.7)){\n        if (objs[i].probability > best_obj.probability){\n            best_obj = objs[i];\n        }\n    }\n}\n\nmsg.topic = 'person_detection';\nmsg.payload = best_obj;\nreturn msg;","outputs":1,"noerr":0,"x":789,"y":246.5,"wires":[["83952772.3c2088","379a12a0.496c4e"]]},{"id":"83952772.3c2088","type":"debug","z":"bc4c7407.b1929","name":"person detected","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1064,"y":246.5,"wires":[]},{"id":"cfc9d844.89c498","type":"function","z":"bc4c7407.b1929","name":"filter cell phone","func":"var payload=msg.payload;\n\nvar best_obj = {};\nbest_obj.probability = 0;\nbest_obj.detection_box = [0.0, 0.0, 0.0, 0.0];\nbest_obj.label = 'none'\n\nvar objs = msg.details.predictions;\nfor (i=0;i<objs.length;i++){\n    if (objs[i].label == 'cell phone' && (objs[i].probability>0.05)){\n        if (objs[i].probability > best_obj.probability){\n            best_obj = objs[i];\n        }\n    }\n}\n\nmsg.topic = 'phone_detection';\nmsg.payload = best_obj;\nreturn msg;","outputs":1,"noerr":0,"x":796,"y":297.5,"wires":[["16a086ac.0844f1","379a12a0.496c4e"]]},{"id":"16a086ac.0844f1","type":"debug","z":"bc4c7407.b1929","name":"cell phone detected","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1079,"y":297.5,"wires":[]},{"id":"379a12a0.496c4e","type":"function","z":"bc4c7407.b1929","name":"overlap image","func":"// basic collosion detection, can be improved\n// check if phone and person image overlap or if\n// phone and bicycle image overlap\n\ncontext.data = context.data || {};\nswitch(msg.topic){\n    case 'phone_detection':\n        context.data.phone = msg.payload;\n         msg = null;\n        break;\n    case 'person_detection':\n        context.data.person = msg.payload;\n        msg = null;\n        break;\n    case 'bicycle_detection':\n        context.data.bicycle = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\nfunction collision(A,B){\n    // y1, x1, y2 ,x2\n    // L, U,R, D\n    //[x0,y0,x1,y1]\n    if ( A[0] < B[2] &&\n         A[2] > B[0] &&\n         A[1] < B[3] &&\n         A[3] > B[1]) {\n             return true;\n         } else {\n             return false;\n         }\n}\n    \n\nif (  context.data.phone != null && context.data.person != null && context.data.bicycle != null  ){\n    if ( context.data.phone.probability == 0 || context.data.person.probability == 0 || context.data.bicycle.probability == 0){\n        return null;\n    } else {\n        if ( collision(context.data.phone.detection_box,  context.data.person.detection_box) || \n           collision(context.data.phone.detection_box,  context.data.bicycle.detection_box) ) {\n            msg = {\"_msgid\": \"12345\",  \"payload\": \"true\"};\n        } else {\n            msg = null;\n        }\n        //msg.payload = true;\n        \n        return msg;\n    }\n\n} else\n    return msg;","outputs":1,"noerr":0,"x":687,"y":548.5,"wires":[["78af426b.8cf68c","7f477a86.d9b8d4","188bc20a.3b23ae","7146be24.dd53f8"]]},{"id":"78af426b.8cf68c","type":"debug","z":"bc4c7407.b1929","name":"final classification trigger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1085,"y":515.5,"wires":[]},{"id":"b8c3b3b9.528ce","type":"comment","z":"bc4c7407.b1929","name":"use localhost:5000 for max-object-detector service","info":"","x":195,"y":22,"wires":[]},{"id":"188bc20a.3b23ae","type":"vtjbot-wave","z":"bc4c7407.b1929","botId":"adacec12.a5d78","motion":"wave","name":"Wave arm","x":1050,"y":627,"wires":[]},{"id":"7146be24.dd53f8","type":"vtjbot-speak","z":"bc4c7407.b1929","botId":"adacec12.a5d78","mode":"play","payload":"siren.mp3","name":"siren","x":1035,"y":685,"wires":[[]]},{"id":"d58676be.c7c1e","type":"image","z":"bc4c7407.b1929","name":"","width":160,"x":524,"y":338,"wires":[]},{"id":"ce34f3f8.7deb48","type":"comment","z":"bc4c7407.b1929","name":"read file is for testing a local image","info":"","x":145,"y":58,"wires":[]},{"id":"3ee62b13.30b75c","type":"inject","z":"bc4c7407.b1929","name":"trigger camera","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":173,"y":167,"wires":[["ad314f7c.7632d8"]]},{"id":"873d6dd1.1510b8","type":"debug","z":"bc4c7407.b1929","name":"detected objects","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":809,"y":123,"wires":[]},{"id":"adacec12.a5d78","type":"vtjbot-config","z":"","botGender":"male","name":"My TJ Officer","speak":"en-GB","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":false,"hasCamera":true,"aUrl":"https://gateway.watsonplatform.net/assistant/api","taUrl":"https://gateway.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway.watsonplatform.net/language-translator/api","sttUrl":"https://stream.watsonplatform.net/speech-to-text/api","ttsUrl":"https://stream.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"},{"id":"279ca546.e2d02a","type":"object-detector-service","z":"","host":"http://localhost:5000","name":"DOCKER codait/max-object-detector"}]
